.title-container{
border: 4px solid green;
display: flex;
justify-content: center;
flex-direction: column;
box-sizing: border-box;
align-content: center;

.contaner{
border: 1px solid red;
    img {
    }
    .imageText{
        color: white;
    }
    .button {

    }
    }
}