// .intro{
//     width: 70%;
// }
.title-container{
    .container{
        .intro{
            width: 10%; 
        }
        .imageText{

        }
        .button{
            background: red;
            color:white;
        }
    }
}